#footer{
    background-color: #4ba2e7;
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .footerLinks{
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 140%;
        justify-content: center;
        padding-left: 20%;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}



.buttonsSocialmedia{
    width: 80%;
    margin: 0 auto;
    padding-right:30px ;
}

.buttons{
    text-align: right;
}

.iconoFb, .iconoIg, .iconoWsp{
    margin-left: 10px;
    color: white;
    font-size: 24px;
}

.buttonTitle{
    color: white;
    text-align: right;
    margin-right:16px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}