@import "footer";
@import "header";
@import "pruebasass";
@import "neumaticos/main-neumaticos";
@import "breakpoints";

.carousel-item{
    max-height: 500px;
}

h3{
    color: #fff;
}

h5{
    color: #fff;
}

ul, ol{
    list-style: none;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10%;
}

body{
    margin:0;
    padding: 0;
}

