.contenedor--llantas{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px , 1fr));
}

.articulo__venta .llanta1{
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
}

.articulo__venta .llanta2{
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
}

img.tamaño1{
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin: 30px 60px 20px 75px;

}

img.tamaño{
    margin-left: 60px;
}

.titleLlantas{
    text-align: center;
}

.precio{
    text-align: center;
}

.ventas{
    display: grid;
}

.boton-agregar{
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}